extends layout.pug

block content
  a(href='/register') Registrarse
  table
    thead
      tr
        th Name
        th Email
    tbody
      each user in users
        tr
          td= user.name
          td= user.email